.swiper-button-next,
.swiper-button-prev
{
    top: 0;
    bottom: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 40px;
    height: 40px;
    margin: auto 0;

    transition: .2s linear;
    transform: none;

    color: #828282;
    border-radius: 50%;
    background: var(--light_color);
}


.swiper-button-prev
{
    left: -60px;
}

.swiper-button-next
{
    right: -60px;
}


.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 20px;
    height: 14px;
}

.swiper-button-next .icon
{
    transform: rotate(180deg);
}


.swiper-button-next:hover,
.swiper-button-prev:hover
{
    color: var(--light_color);
    background: var(--primary_color);
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: absolute;
    right: 0;
    bottom: 46px;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--cont_padding);

    width: var(--content_width);
    height: 4px;
    margin-inline: auto;

    pointer-events: none;
}


.swiper-pagination-bullet
{
    display: block;

    width: 6px;
    height: 4px;

    transition: .2s linear;
    pointer-events: auto;

    opacity: 1;
    border-radius: 3px;
    background: #acacac;
}


.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    width: 30px;

    background: var(--primary_color);
}


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
